.calendarMain {
  border-bottom: #ece7e2 1px solid;
  border-left: 2px solid #ece7e2;
  box-sizing: content-box;
}

.calendarBottomText {
  text-anchor: middle;
  fill: #222;
  font-weight: 900;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: #e6e4e4;
}

.calendarTopText {
  text-anchor: middle;
  fill: #717680;
  font-weight: 900;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: #ffffff;
  stroke: #e0e0e0;
  stroke-width: 1.4;
}
