.barWrapper {
  cursor: pointer;
  outline: none;
}

.barWrapper:hover .barHandle {
  visibility: visible;
  opacity: 1;
}

.barHandle {
  fill: rgba(0, 0, 0, 0.2);
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.barHandle:hover {
  fill: rgba(0, 0, 0, 0.5);
}

.barBackground {
  user-select: none;
  stroke-width: 0;
}
